.App {
  text-align: center;
}
pre{
  white-space: pre-wrap;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.post{
  width: 50%;
}

#profile{
  width: 80%;
}

.appForm{
  width: 50%;
}

@media (max-width:900px){
  .post{
    width: 70%;
  }
  #profile{
    width:100%;
  }
}

@media (max-width:600px){
  .post{
    width: 95%;
  }
  #profile{
    max-width:415px;
  }
  .appForm{
    width:70%;
    margin-left: 15%;
    margin-right:auto;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
